.linha-padrao {
  height: 75px;
  margin-bottom: 0.5rem;
}

.diferenca {
  border: 1px solid #000;
  padding: .5rem;
  border-radius: .25rem;
  background-color: #fff;
  width: 100%;
  max-width: 15rem;
  text-align: center;
  font-weight: bold;
}

.input-bloqueado {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: #fff;
  color: #111827;
  border: 1px solid #d1d5db;
}

.input-bloqueado:disabled {
  background-color: #e5e7eb;
  cursor: not-allowed;
}
