<swiper-container [slidesPerView]="1" [pagination]="true" [navigation]="true" [loop]="true" class="meu-carrossel">

    <swiper-slide class="slide text-center text-white">
        <img src="sobre-1.webp" alt="Slide 1">
        <div class="slide-texto grid justify-center items-center">
            <div class="div-texto">
                <h2>NOSSA MISSÃO</h2>
                <p>Prover soluções tecnológicas na movimentação de granéis.</p>
            </div>
        </div>
    </swiper-slide>

    <swiper-slide class="slide text-center text-white">
        <img src="sobre-2.webp" alt="Slide 2">
        <div class="slide-texto grid justify-center items-center">
            <div class="div-texto">
                <h2>NOSSO PROPÓSITO | POR QUÊ FAZEMOS</h2>
                <p>Nosso propósito é garantir operações industriais mais confiáveis e eficientes, ajudando nossos clientes a otimizar processos e aumentar seus resultados financeiros.</p>
            </div>
        </div>
    </swiper-slide>

    <swiper-slide class="slide text-center text-white">
        <img src="sobre-3.webp" alt="Slide 3">
        <div class="slide-texto grid justify-center items-center">
            <div class="div-texto">
                <h2>NOSSA ABORDAGEM | COMO FAZEMOS</h2>
                <p>Combinamos conhecimento técnico, dados confiáveis e uma abordagem prática para criar soluções que fazem a diferença. Nossos produtos são projetados para entregar resultados reais, previsíveis e impactantes, atendendo às necessidades de cada operação.</p>
            </div>
        </div>
    </swiper-slide>

    <swiper-slide class="slide text-center text-white">
        <img src="sobre-4.webp" alt="Slide 4">
        <div class="slide-texto grid justify-center items-center">
            <div class="div-texto">
                <h2>NOSSAS SOLUÇÕES | O QUE FAZEMOS</h2>
                <p>Produtos: Caçambas Elevadoras, Correias Elevadoras e Transportadoras, emendas mecânicas para correias. Serviços: Soluções especializadas em inspeção de transportadores, mapeamentos de fluxo e laboratório virtual.</p>
            </div>
        </div>
    </swiper-slide>

    <swiper-slide class="slide text-center text-white">
        <img src="sobre-5.webp" alt="Slide 5">
        <div class="slide-texto grid justify-center items-center">
            <div class="div-texto">
                <h2 class="titulo-5">POLÍTICA DO SISTEMA DE GESTÃO DE QUALIDADE – SGQ</h2>
                <p>A Ucelo realiza todos os processos visando: satisfação dos nossos clientes; qualidade de nossos produtos e serviços; produtividade em nossos processos, trabalho em equipe, busca da melhoria contínua.</p>
            </div>
        </div>
    </swiper-slide>


</swiper-container>