<div class="flex justify-center container-login mt-10">
  <div class="flex lados mt-10">
    <div
      class="container-esquerdo-cadastro pt-5 pb-10 ps-10 pr-10 flex items-center justify-center"
    >
      <div class="text-center">
        <p class="titulo-cadastro">Seja Bem-Vindo!</p>
        <p class="subtitulo-cadastro">
          Faça login e veja
          <br />
          seu histórico de cálculos.
        </p>
        <button class="btn-ir-cadastro" (click)="irCadastro()">
          Cadastre-se
        </button>
      </div>
    </div>
    <div
      class="container-cadastro-direito pt-5 pb-10 ps-15 pr-15 grid place-items-center"
    >
      <div class="grid gap-5">
        <p class="text-center titulo-container-direito">Login</p>
        <form (ngSubmit)="onSubmit()" class="grid gap-5">
          <div class="grid gap-1">
            <label for="" class="titulo-input">CNPJ</label>
            <div class="relative">
              <div
                class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
              >
                <img src="user-input-icon.svg" alt="" class="h-5 w-5" />
              </div>
              <input
                type="text"
                placeholder="XX.XXX.XXX/YYYY-ZZ"
                class="input-login"
                name="cnpj"
                [(ngModel)]="credenciais.cnpj"
                mask="00.000.000/0000-00"
                [dropSpecialCharacters]="true"
              />
            </div>
          </div>
          <div class="grid gap-1">
            <label for="" class="titulo-input">Senha</label>
            <div class="relative">
              <div
                class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
              >
                <img src="locker-icon.svg" alt="" class="h-5 w-5" />
              </div>
              <input
                type="password"
                placeholder="*********"
                class="input-login"
                name="senha"
                [(ngModel)]="credenciais.senha"
              />
            </div>
          </div>
          <div class="flex justify-center">
            <button type="submit" class="btn-login cursor-pointer p-5 font-bold mt-5 w-55">Entrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
