.container-cadastro {
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.lados {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 0.25rem;
}

.container-esquerdo-cadastro {
  background-color: #2650DA;
  color: #fff;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
  width: 30rem;
}

.container-cadastro-direito {
  background-color: #fff;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.titulo-cadastro {
  font-weight: 500;
  font-size: 3rem;
  width: 100rem;
}

.subtitulo-cadastro {
  font-size: 1.5rem;
}

.input-cadastro {
  border: 1px solid lightgray;
  padding: .5rem;
  border-radius: .25rem;
  outline-color: #2650DA;
  width: 20rem;
}

.titulo-container-direito {
  font-weight: bold;
  font-size: 3rem;
  color: #0A1743;
}

.titulo-input {
  font-weight: 500;
}

.btn-ir-login {
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #145DFC;
  padding: .5rem;
  margin-top: 1rem;
  border-radius: .25rem;
  width: 7rem;
  cursor: pointer;
  border: 1px solid #fff;
  transition: background-color 0.3s;
}

.btn-ir-login:hover {
  background-color: #0e46b5;
}

.btn-concluir-cadastro {
  background-color: #145DFC;
  border-radius: .25rem;
  color: #fff;
  transition: opacity 0.3s;
}

.btn-concluir-cadastro:hover {
  opacity: 0.9;
}
