<nav style="height: 5rem; width: 100dvw;" class="flex justify-between items-center p-3">
    <div class="flex items-center gap-3">
        <div style="width: 3rem; background-color: #4D7BFF; border-radius: 10px;" class="p-2" >
            <img src="calculator-icon.svg" alt="">
        </div>
        <div>
            <h2 class="font-bold titulo-nav">UCELO</h2>
        </div>
    </div>
    <div class="flex" style="gap: 5rem;">
        <div class="flex gap-3">
            <img src="home-icon.svg" alt="" style="width: 1.5rem;">
            <p style="font-color: #000;" class="font-bold">Início</p>
        </div>
        <div class="flex gap-3">
            <img src="calculator-icon2.svg" alt="" style="width: 1.5rem;">
            <p style="font-color: #000;" class="font-bold">Calculadora</p>
        </div>
        <div class="flex gap-3">
            <img src="info-icon.svg" alt="" style="width: 1.5rem;">
            <p style="font-color: #000;" class="font-bold">Sobre</p>
        </div>
    </div>
    <button class="flex items-center p-3 gap-3" id="btn-gerar-relatorio">
        <img src="file-icon.svg" alt="" style="width: 1.5rem;">
        <p class="font-bold" style="color: #fff;">Gerar Relátorio</p>
    </button>
</nav>