.titulo-nav {
    font-size: 1.5rem;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(
        135deg,
    #3645AB 0%,
    #2B3480 50%,
    #1E2469 100%
    );
}

#btn-gerar-relatorio {
    background-color: #4D7BFF;
    border-radius: 10px;
    cursor: pointer;
}

nav {
    background-color: #fff;
}

.btn-login,
.btn-cadastro {
  background-color: #4D7BFF;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  padding: .5rem 1.5rem;
  border-radius: .25rem;
}

.btn-logout {
  background-color: red;
  color: #fff;
  font-weight: bold;
  padding: .5rem 1.5rem;
  border-radius: .3rem;
  cursor: pointer;
}
