<footer
  style="background-color: #fff"
  class="mt-15 font-bold grid justify-center"
>
  <div class="p-10 grid gap-4">
    <h2>Entre em contato conosco</h2>
    <a href="tel:+554333157900">
      <div class="flex gap-3">
        <svg
          viewBox="0 0 24 24"
          fill="#155DFC"
          xmlns="http://www.w3.org/2000/svg"
          class="w-6 h-6 shrink-0"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <g id="Communication / Phone">
              <path
                id="Vector"
                d="M9.50246 4.25722C9.19873 3.4979 8.46332 3 7.64551 3H4.89474C3.8483 3 3 3.8481 3 4.89453C3 13.7892 10.2108 21 19.1055 21C20.1519 21 21 20.1516 21 19.1052L21.0005 16.354C21.0005 15.5361 20.5027 14.8009 19.7434 14.4971L17.1069 13.4429C16.4249 13.1701 15.6483 13.2929 15.0839 13.7632L14.4035 14.3307C13.6089 14.9929 12.4396 14.9402 11.7082 14.2088L9.79222 12.2911C9.06079 11.5596 9.00673 10.3913 9.66895 9.59668L10.2363 8.9163C10.7066 8.35195 10.8305 7.57516 10.5577 6.89309L9.50246 4.25722Z"
                stroke="#155DFC"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </g>
          </g>
        </svg>
        <p>(43) 3315-7900</p>
      </div>
    </a>
    <a href="mailto:dpo@ucelo.com.br">
      <div class="flex gap-3">
        <svg
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="w-6 h-6 shrink-0"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M2 12C2 8.22876 2 6.34315 3.17157 5.17157C4.34315 4 6.22876 4 10 4H14C17.7712 4 19.6569 4 20.8284 5.17157C22 6.34315 22 8.22876 22 12C22 15.7712 22 17.6569 20.8284 18.8284C19.6569 20 17.7712 20 14 20H10C6.22876 20 4.34315 20 3.17157 18.8284C2 17.6569 2 15.7712 2 12Z"
              stroke="#155DFC"
              stroke-width="1.5"
            ></path>
            <path
              d="M6 8L8.1589 9.79908C9.99553 11.3296 10.9139 12.0949 12 12.0949C13.0861 12.0949 14.0045 11.3296 15.8411 9.79908L18 8"
              stroke="#155DFC"
              stroke-width="1.5"
              stroke-linecap="round"
            ></path>
          </g>
        </svg>
        <p>dpo&#64;ucelo.com.br</p>
      </div>
    </a>
    <a
      target="_blank"
      href="https://www.google.com.br/maps/place/Ucelo+-+Matriz/@-23.2924671,-51.0885029,17z/data=!4m10!1m2!2m1!1sR.+Jos%C3%A9+Ademir+Zago+Filho,+400+-+Parque+das+Industria+IV,+Ibipor%C3%A3+-+PR,+++++++++86200-000!3m6!1s0x94eb41d18a269cd3:0xa58877b9216ea374!8m2!3d-23.2964004!4d-51.0920939!15sCltSLiBKb3PDqSBBZGVtaXIgWmFnbyBGaWxobywgNDAwIC0gUGFycXVlIGRhcyBJbmR1c3RyaWEgSVYsIEliaXBvcsOjIC0gUFIsICAgICAgICAgODYyMDAtMDAwWk0iS3Igam9zw6kgYWRlbWlyIHphZ28gZmlsaG8gNDAwIHBhcnF1ZSBkYXMgaW5kdXN0cmlhIGl2IGliaXBvcsOjIHByIDg2MjAwIDAwMJIBFmluZHVzdHJpYWxfc3VwZXJtYXJrZXSaAURDaTlEUVVsUlFVTnZaRU5vZEhsalJqbHZUMnhvWVZONlVrVmpWbXhtVGpBMVExa3dXa2hUVlVVMVUyeEJORkpGUlJBQqoBkQEQASobIhdwYXJxdWUgZGFzIGluZHVzdHJpYSBpdigMMh8QASIbMbRAqdYqp5BdOWucb6jcyb-omkokVhE6uj-uMk8QAiJLciBqb3PDqSBhZGVtaXIgemFnbyBmaWxobyA0MDAgcGFycXVlIGRhcyBpbmR1c3RyaWEgaXYgaWJpcG9yw6MgcHIgODYyMDAgMDAw4AEA-gEECAAQPA!16s%2Fg%2F11sszqjmrs?hl=pt-BR&entry=ttu&g_ep=EgoyMDI1MTExNi4wIKXMDSoASAFQAw%3D%3D"
    >
      <div class="flex gap-3">
        <svg
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          stroke="#155DFC"
          class="w-6 h-6 shrink-0"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M12 21C15.5 17.4 19 14.1764 19 10.2C19 6.22355 15.866 3 12 3C8.13401 3 5 6.22355 5 10.2C5 14.1764 8.5 17.4 12 21Z"
              stroke="#155DFC"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M12 12C13.1046 12 14 11.1046 14 10C14 8.89543 13.1046 8 12 8C10.8954 8 10 8.89543 10 10C10 11.1046 10.8954 12 12 12Z"
              stroke="#155DFC"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </g>
        </svg>
        <p>
          R. José Ademir Zago Filho, 400 - Parque das Industria IV, Ibiporã -
          PR, 86200-000
        </p>
      </div>
    </a>
    <div class="flex gap-3">
      <svg
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6 shrink-0"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M12 7V12L14.5 10.5M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
            stroke="#155DFC"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </g>
      </svg>
      <div>
        <p>Segunda - Sexta</p>
        <p>08:00 – 18:00</p>
      </div>
    </div>
  </div>
</footer>
