<div class="block">
    <div class="text-center">
        <p id="titulo-home">UCELO</p>
        <p id="subtitulo-home">Calculadora Industrial</p>
        <p id="desc-home" class="mt-5">Transforme suas planilhas técnicas em uma ferramenta de cálculo automatizada,
            <br>
            segura e intuitiva para elevadores industriais.
        </p>
    </div>
    <div class="flex justify-center mt-5 mb-5 cursor-pointer">
        <div class="flex p-2 gap-3 items-center" id="btn-iniciar-calculo">
            <span class="text-white font-bold">Iniciar Cálculo</span>
            <img src="calculator-icon.svg" alt="" style="height: 2rem;">
        </div>
    </div>
    <div class="justify-center" id="container-cards-home">
        <div class="card-home text-center flex flex-col items-center">
            <img src="engine.svg" alt="" class="img-card">
            <p class="titulo-card">Cálculo Automatizado</p>
        </div>
        <div class="card-home text-center flex flex-col items-center">
            <img src="users.svg" alt="" class="img-card">
            <p class="titulo-card">Para Clientes e Vendedores</p>
            <p class="text-white mt-3 desc-card">
                Interface intuitiva para clientes simularem
                <br>
                configurações e ferramenta profissional
                <br>
                para equipe de vendas.
            </p>
        </div>
        <div class="card-home text-center flex flex-col items-center">
            <img src="file.svg" alt="" class="img-card">
            <p class="titulo-card">Relatórios Profissionais</p>
        </div>
    </div>
</div>