.card-home {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 1rem;
    backdrop-filter: blur(12px);
    background-color: rgba(155, 177, 240, 0.25);
    width: 25%;
    height: 22rem;
}

#titulo-home {
    color: #fff;
    font-weight: bold;
    font-size: 6rem;
}

#subtitulo-home {
    font-size: 3rem;
    font-weight: 400;
    color: #fff;
}

#desc-home {
    color: #fff;
    font-size: 1.5rem;
}

#btn-iniciar-calculo {
    border: 1px solid lightgray;
    color: #fff;
    border-radius: 10px;
    transition: all 0.1s ease;
}

#container-cards-home {
    margin-top: 7rem;
    display: flex;
    gap: 3rem;
}

.img-card {
    width: 5rem;
    margin-bottom: 1.5rem;
}

.titulo-card {
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
}

#btn-iniciar-calculo:hover {
  transform: scale(1.03);
  background-color: #fff;
  color: #0B1948;
  transition: all 0.1s ease;
}

.desc-card {
    font-weight: 300;
    font-size: 1.5rem;
}

.calculadora-svg {
  width: 2rem;
}

@media (max-width: 1024px) {
  #container-cards-home {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 2 colunas no tablet */
    justify-items: center;
  }

  .card-home {
    width: 70%;
    height: 100%;
  }
}
